
/* cubic-bezier(0.64, 0.01, 0.07, 1.65) */
/* cubic-bezier(.42,.2,.08,1); */

.show-popup{
  transform-origin: 50% 0;
  animation: showing-popup 300ms ease-in;
}
.hide-popup {
  transform-origin: 50% 0;
  animation: hiding-popup 300ms ease-out;
}

@media only screen and (max-width: 375px) {
  .show-popup{
    transform-origin: 50% 0;
    animation: showing-popup 150ms ease-in;
  }
  .hide-popup {
    transform-origin: 50% 0;
    animation: hiding-popup 150ms ease-out;
  } 
}

@keyframes showing-popup{
  0% {
    opacity: 0;
    transform: scaleY(0);
  }
  20% {
    opacity: 0;
    transform: scaleY(1);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}
@keyframes hiding-popup {
  from {
    opacity: 1;
    transform: scaleY(1);
  }
  to {
    opacity: 0;
    transform: scaleY(0);
  }
}

.show-modal {
  animation: showing-modal 400ms linear;
}
.hide-modal {
  animation: hiding-modal 400ms linear;
}

@media only screen and (max-width: 375px) {
  .show-modal {
    animation: showing-modal 200ms linear;  
  }
  .hide-modal {
    animation: hiding-modal 200ms linear;
  }
}

@keyframes showing-modal {
  0%   { background-color: rgba(0,0,0, 0);}
  100% { background-color: rgba(0,0,0, 0.35);}
}
@keyframes hiding-modal {
  0%   { background-color: rgba(0,0,0, 0.35);}
  100% { background-color: rgba(0,0,0, 0);}
}

[data-loader='circle'] {
    width: 2.5em;
    height: 2.5em;
   -webkit-animation: circle infinite 1.25s linear;
      -moz-animation: circle infinite 0.75s linear;
        -o-animation: circle infinite 1.25s linear;
           animation: circle infinite 1.25s linear;
   border: 3px solid #a487d4;
   border-top-color: transparent;
   border-radius: 100%;
}
@keyframes circle{
  100% {transform: rotate(360deg);}
}
@-webkit-keyframes circle{
   100% {
     -webkit-transform: rotate(360deg);
             transform: rotate(360deg);
   }
}
@-moz-keyframes circle{
  100% { transform: rotate(360deg);}
}
@-o-keyframes circle{
  100% {
  -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
[data-loader='circle-failed']{
  width: 2.5em;
  height: 2.5em;
  border: 3px solid #f44336;

  /* border-top-color: transparent; */
  border-radius: 100%;
}
