
.article-header {
  width: 100%;
  background-color: #404040;
  padding: 8px 0 8px 16px;
  line-height: 1.4;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom: medium solid transparent;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.article-header:focus {
  border-bottom: medium solid #80c040;
}

.link-wrapper {
 border-bottom: medium solid transparent;
 -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.link-wrapper:hover,
.link-wrapper:focus {
  border-bottom: medium solid #1b75bb;
}
