
.article-header {
  background-color: #404040;
  background-color: var(--art-h, #404040);

  width: 100%;
  padding: 8px 0 8px 10px;
  line-height: 1.35;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom: medium solid transparent;
  cursor: pointer;
}

.article-header:focus {
  border-bottom: medium solid #80c040;
}

.article-descr {
  background-color: #4d4d4d;
  background-color: var(--art-d, #4d4d4d);  
}

.link-wrapper {
  border-bottom: medium solid transparent;
}

.link-wrapper:hover,
.link-wrapper:focus {
  border-bottom: medium solid #1b75bb;
}
