
.article-header {
  border-bottom: 2px solid transparent;
}

.article-header:focus {
  border-bottom: 2px solid greenyellow;
}

.link-wrapper {
 border-bottom: medium solid transparent;
}

.link-wrapper:hover,
.link-wrapper:focus {
  border-bottom: medium solid #1b75bb;
}
