.open-close {
  color: #9e9e9e;
  color: var(--h-c, #9e9e9e);

  cursor: pointer;
}

.open-close:focus {
  background-color: rgba(0, 0, 0, 0.15);
  outline: 0;
}

.row__news-source {
  color: black;
  padding: 1px 0 1px 12px;
  line-height: 2;
  border-left: 4px solid transparent;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}
.row__news-source:hover {
  border-left: 4px solid #1b75bb;
}
.row__news-source:focus, .row__news-source:active {
  background-color: rgba(0, 0, 0, 0.15);
  outline: 0;
}