.open-close {
  cursor: pointer; }

.open-close:focus {
  outline: none;
  background-color: rgba(0, 0, 0, 0.15); }

.row__news-source {
  font-size: 16px;
  font-weight: bold;
  color: black;
  line-height: 2;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 16px;
  border-bottom: 1px solid transparent;
  cursor: pointer; }

.row__news-source:hover {
  border-bottom: 1px solid #1b75bb; }

.row__news-source:focus {
  border-bottom: 1px solid #1b75bb; }

.row__news-source--white {
  font-size: 16px;
  font-weight: bold;
  color: black;
  line-height: 2;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 16px;
  border-bottom: 1px solid transparent;
  cursor: pointer; }

.row__news-source--white:hover {
  border-bottom: 1px solid #1b75bb; }

.row__news-source--white:focus {
  border-bottom: 1px solid #1b75bb; }

.row__news-source--sand {
  font-size: 16px;
  font-weight: bold;
  color: black;
  line-height: 2;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 16px;
  border-bottom: 1px solid transparent;
  cursor: pointer; }

.row__news-source--sand:hover {
  border-bottom: 1px solid #1b75bb; }

.row__news-source--sand:focus {
  border-bottom: 1px solid #1b75bb; }
