.bt-more {
  width: 1.9rem;
  height: 1.9rem;
  padding-top: 0.2rem;
  border-radius: 50%;
}

.bt-more:hover,
.bt-more:focus {
  background: var(--bt-h, rgba(255, 255, 255, 0.1));
}

.arrow-down {
  display: inline-block;
  position: relative;
  top: 3px;
  height: 0;
  width: 0;
  margin-left: 6px;
  border-width: 5px;
  border-style: solid;
  /* clean-css ignore:start */
  border-top-color: inherit;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  /* clean-css ignore:end */
}

.bt-circle {
  display: inline-block;
  color: #80c040;
  width: 1.6rem;
  height: 1.6rem;
  padding-top: 2px;
  border-radius: 50%;
  border: 2px solid #80c040;
  background-color: transparent;
  transition: background-color 200ms ease-out;
}

.bt-circle:hover,
.bt-circle:focus {
  background-color: rgba(0, 0, 0, 0.3);
}

.bt-resize {
  display: inline-block;
  width: 1.6rem;
  height: 1.6rem;
  padding: 2px;
  border-radius: 50%;
  border: 2px solid var(--h-c, #a9a9a9);
  stroke: var(--h-c, #a9a9a9);
}

.bt-resize:focus,
.bt-resize:hover {
  border: 2px solid #a487d4;
  stroke: #a487d4;
}

[data-loader=circle-failed] {
  width: 2.5em;
  height: 2.5em;
  border: 3px solid #a487d4;
  border-top-color: transparent;
  border-radius: 100%;
}

.link {
  color: #009ae5;
  font-weight: bold;
  margin-left: 6px;
  padding-bottom: 2px;
  border-bottom: 1px solid;
  text-decoration: none;
}

.link:hover,
.link:focus {
  border-bottom-width: 3px;
}

.chb {
  stroke: #4d4d4d;
  stroke: var(--bg-c, #4d4d4d);

  display: inline-block;
  width: 23px;
  height: 23px;
  padding: 1px;
  border-radius: 2px;
  border: 2px solid transparent;
}

.chb:focus {
  outline: 0;
  border: 2px solid #fdb316;
}

.bt-raised {
  color: #a9a9a9;
  color: var(--h-c, #a9a9a9);

  background-color: #3a6799;
  background-color: var(--h-bg, #3a6799);

  display: inline-block;
  position: relative;
  height: 36px;
  line-height: 36px;
  border-radius: 2px;
  border: 10px;
  text-align: center;
  text-decoration: none;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.bt-raised:focus {
  outline: #80c040 auto 2px;
}

.bt-raised__span {
  padding: 0 16px;
  opacity: 1;
  font-size: 0.875rem;
  letter-spacing: 0;
  text-transform: uppercase;
  font-weight: bold;
  user-select: none;
}

.bt-raise__div {
  color: var(--bt-rc, #a9a9a9);
  height: 36px;
  border-radius: 2px;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}
.bt-raise__div:hover {
  background-color: var(--bt-h, rgba(255, 255, 255, 0.1));
}

.bt-flat {
  color: var(--bt-fc, #6ca1dc);
  display: inline-block;
  position: relative;
  height: 36px;
  line-height: 36px;
  border-radius: 2px;
  border: 10px; 
  background-color: transparent;
  text-align: center;
  text-decoration: none;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.bt-flat:focus {
  background-color: rgba(120, 120, 120, 0.3);
}

.bt-flat__span {
  padding: 0 16px;
  opacity: 1;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0;
  text-transform: uppercase;
  user-select: none;
}

.bt-flat__div {
  height: 36px;
  border-radius: 2px;
  background-color: transparent;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}
.bt-flat__div:hover {
  background-color: rgba(153, 153, 153, 0.2);
}
.bt-flat__div:focus {
  background-color: rgba(153, 153, 153, 0.2);
}
