.tab {
  display: inline-block;
  color: #9e9e9e;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-weight: bold;
  border-bottom: 3px solid #9e9e9e;
  cursor: pointer;  
  outline: 0;
}
.tab:focus > span {
  color: #81a5ce;
}

.button-tab {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 300px;
  color: gray;
  line-height: 1.3;
  background-color: #232F3B;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  cursor: pointer; }

.button-tab:hover {
  color: #a487d4;
  font-weight: bold; }

.button-tab--show {
  color: #a487d4; }

.button-tab--show:hover {
  color: #a487d4;
  font-weight: bold; }

.bt-sub-item {
  color: grey;
  line-height: 1.8;
  font-weight: normal;
  border-bottom: 1px solid;
  cursor: pointer; }

.bt-sub-item:hover {
  color: #a487d4;
  font-weight: bold; }

.arrow-down {
  display: inline-block;
  position: relative;
  top: 3px;
  height: 0;
  width: 0;
  margin-left: 6px;
  border-width: 5px;
  border-style: solid;
  border-top-color: inherit;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent; }

.bt-circle {
  display: inline-block;
  color: #80c040;
  width: 26px;
  height: 26px;
  line-height: 24px;
  text-align: center;
  border-radius: 50%;
  border: 2px solid #80c040;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 200ms ease-out;
}

.bt-circle:hover,
.bt-circle:focus {
  background-color: rgba(0, 0, 0, 0.3);
  outline: 0;
}

.svg-resize {
  width: 26px;
  height: 26px;
  padding: 2px;
  display: inline-block;
  border-radius: 50%;
  border: 2px solid gray;
  stroke: gray;
  cursor: pointer; }

.svg-resize:hover {
  border: 2px solid #a487d4;
  stroke: #a487d4; }

.bt__watch__bar {
  display: inline-block;
  text-align: center;
  font-weight: bold;
  margin-left: 10px;
  padding: 6px 12px;
  border-radius: 20px;
  width: auto;
  height: auto;
  border: 2px solid gray;
  color: gray;
  cursor: pointer;
  transition: color, border-color 200ms ease-out; }

.bt__watch__bar:hover {
  color: #80c040;
  border-color: #80c040; }

.not-selected {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome all / Safari all / Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */ }

[data-loader='circle-failed'] {
  width: 2.5em;
  height: 2.5em;
  border: 3px solid #a487d4;
  border-top-color: transparent;
  border-radius: 100%; }

.link {
  color: #009AE5;
  font-weight: bold;
  padding: 3px 6px 3px 6px;
  text-decoration: none; 
  background-color: transparent;
  transition: background-color 200ms ease-out;
}

.link:hover,
.link:focus {
  background-color: rgba(0, 0, 0, 0.3);
}

.bt-raised {
  border: 10px;
  box-sizing: border-box;
  display: inline-block;
  font-family: Roboto, sans-serif;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  outline: none;
  font-size: inherit;
  font-weight: inherit;
  position: relative;
  z-index: 1;
  height: 36px;
  line-height: 36px;
  /*width: '100%',*/
  border-radius: 2px;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  background-color: #0097a7;
  text-align: center; }

.bt-raised:focus {
  outline: greenyellow auto 2px; }

.bt-raised__span {
  position: relative;
  opacity: 1;
  font-size: 14px;
  letter-spacing: 0px;
  text-transform: uppercase;
  /*font-weight: 500,*/
  font-weight: bold;
  margin: 0px;
  user-select: none;
  padding-left: 16px;
  padding-right: 16px; }

.bt-flat {
  border: 10px;
  box-sizing: border-box;
  display: inline-block;
  font-family: Roboto, sans-serif;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  outline: none;
  font-size: inherit;
  font-weight: inherit;
  position: relative;
  z-index: 1;
  height: 36px;
  line-height: 36px;
  /*width: '100%',*/
  border-radius: 2px;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  background-color: transparent;
  text-align: center; }

.bt-flat:focus {
  /*background-color: rgba(220,220,220, 0.2);*/
  background-color: rgba(120, 120, 120, 0.2); }

.bt-flat__span {
  position: relative;
  opacity: 1;
  font-size: 16px;
  letter-spacing: 0px;
  text-transform: uppercase;
  /*font-weight: 500,*/
  font-weight: bold;
  margin: 0px;
  user-select: none;
  padding-left: 16px;
  padding-right: 16px; }

.bt-raise__div {
  color: #303030;
  height: 36px;
  border-radius: 2px;
  top: 0px;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; }

.bt-raise__div:hover {
  background-color: rgba(48, 48, 48, 0.4); }

.bt-flat__div {
  height: 36px;
  border-radius: 2px;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  top: 0px;
  background-color: transparent; }

.bt-flat__div:hover {
  background-color: rgba(120, 120, 120, 0.2); }

.bt-flat__div:focus {
  background-color: rgba(120, 120, 120, 0.2); }

.bt-raise__div--white {
  color: white;
  height: 36px;
  border-radius: 2px;
  top: 0px;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; }

.bt-raise__div--white:hover {
  background-color: rgba(255, 255, 255, 0.4); }

.bt-flat__div--white {
  height: 36px;
  border-radius: 2px;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  top: 0px;
  background-color: transparent; }

.bt-flat__div--white:hover {
  background-color: rgba(153, 153, 153, 0.2); }

.bt-flat__div--white:focus {
  background-color: rgba(153, 153, 153, 0.2); }

.bt-raise__div--sand {
  color: #e8e0cb;
  height: 36px;
  border-radius: 2px;
  top: 0px;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; }

.bt-raise__div--sand:hover {
  background-color: rgba(255, 255, 255, 0.4); }

.bt-flat__div--sand {
  height: 36px;
  border-radius: 2px;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  top: 0px;
  background-color: transparent; }

.bt-flat__div--sand:hover {
  background-color: rgba(153, 153, 153, 0.2); }

.bt-flat__div--sand:focus {
  background-color: rgba(153, 153, 153, 0.2); }
