
.component-container {
  display: flex;
  flex-direction: row;
  margin: 8px 0 10px 0;
}

.hrz-container {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
}

.modal-root {
  z-index: 1050;
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  opacity: 1;
  background: rgba(0,0,0, 0.35) none repeat scroll 0% 0%;
  outline: 0 none;
}

.popup-menu {
  position: absolute;
  background-color: inherit;  
}

.items__menu-more {
  z-index: 2000;
  top: 36px;
  left: 4px;
}
