.header {
  z-index: 50;  
  position: relative;
  width: 100%;
  height: 50px;
  padding: 8px 0 0 12px;      
  box-shadow: rgba(0, 0, 0, 0.14) 0 0 4px, rgba(0, 0, 0, 0.6) 0 4px 8px;
}

.header__icon-app {
  display: inline-block;
  position: absolute;
  top: 7px;
  left: 16px;
  width: 32px;
  height: 32px;
}

.header__label-app { 
  color: #80c040;  
  padding: 6px 10px 0 56px;  
  font-weight: bold;
}

.header__browser-bts {
  display: inline-block;
}

@media only screen and (max-width: 680px) {
  .header__label-app {
    display: none;
  }
  .header__browser-bts {    
    margin-left: 45px;
  }
}
@media only screen and (max-width: 375px) {
  .header__icon-app,
  .header__bt-about {
    display: none;
  }
  .header__browser-bts {
    margin-left: -8px;
  }
}
.header__bts {
  position: relative;
  float: right;
  margin-right: 16px;
}

@media only screen and (max-width: 740px) {
  .header__bts {
    margin-right: 0;
  }
}
.header__panel-browser {
  position: absolute;
  z-index: 1010;
  top: 45px;
  left: 160px;
  width: calc(252px + 3rem);
}

@media only screen and (max-width: 680px) {
  .header__panel-browser {
    left: 8px;
  }
}

.row__topic {
  color: var(--black);
  padding-left: 10px;
  line-height: 2.1;
  border-left: 4px solid transparent;
  font-size: 1rem;
  font-weight: bold;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
}
.row__topic:focus {
  background-color: rgba(0, 0, 0, 0.15);
}