
.m-select {
  display: inline-block;
  position: relative;
  background-color: transparent;
  line-height: 24px;
  width: 120px;
  height: 64px;
  margin-left: 24px;
  margin-right: 6px;
  vertical-align: top;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  cursor: pointer;
  transition: height 200ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.m-select__label {
  position: absolute;
  top: 32px;
  z-index: 1;
  color: black;
  line-height: 22px;
  padding-left: 4px;
  font-weight: bold;
  font-size: 18px;
  user-select: none;
  pointer-events: none;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  transform: scale(0.75) translate(0px, -28px);
  transform-origin: left top 0px;
}

.m-select__div {
  display: block;
  box-sizing: border-box;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  padding: 0px;
  margin-top: 14px;
  border: none;
  outline: none;
  cursor: inherit;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  font-stretch: inherit;
  line-height: inherit;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.m-select__div__value {
  position: relative;
  color: greenyellow;
  opacity: 1;
  line-height: 48px;
  padding-left: 4px;
  padding-right: 56px;
  overflow: hidden;
  font-size: 18px;
  font-weight: normal;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.m-select__div__bt {
  display: inline-block;
  box-sizing: border-box;
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 1;
  background: none;
  fill: black;
  width: 48px;
  height: 48px;
  padding: 12px;
  margin: 0px;
  border: 10px;
  outline: none;
  text-decoration: none;
  font-family: Roboto, sans-serif;
  font-size: 0px;
  font-weight: inherit;
  overflow: visible;
  cursor: pointer;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.m-select__item {
  color: white;
  line-height: 2;
  padding-left: 16px;
}
.m-select__item:hover {
  background-color: rgba(48,48,48, 0.4);
}

.m-select__line {
  position: absolute;
  bottom: 23px;
  width: 100%;
  border-bottom: 2px solid black;
}

.m-select__item--white {
  color: rgb(48, 48, 48);
  line-height: 2;
  padding-left: 16px;
}
.m-select__item--white:hover {
  background-color: rgba(255,255,255, 0.4);
}
