.m-textfield-input {
    position: relative;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0);
    color: greenyellow;
    padding: 0px;
    padding-top: 10px;
    padding-left: 4px;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 18px;
    cursor: inherit;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    font-stretch: inherit;
    line-height: inherit;
    font-family: inherit;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  .m-textfield-input__div {
      display: block;
      box-sizing: border-box;
      position: relative;
      background-color: rgba(0, 0, 0, 0);
      color: rgb(255, 255, 255);
      width: 100%;
      height: 100%;
      padding: 0px;
      border: none;
      outline: none;
      cursor: inherit;
      font-family: inherit;
      font-size: inherit;
      font-style: inherit;
      font-variant: inherit;
      font-weight: inherit;
      font-stretch: inherit;
      line-height: inherit;
      transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  .m-input__line {
    position: absolute;
    bottom: 12px;
    width: 100%;
    border-bottom: 2px solid black;
  }
  .m-input__msg-err {
    position: absolute;
    bottom: -12px;
    left: 4px;
    color: #F44336;
  }
