.m-textfield-input {
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  color: #80c040;
  height: 100%;
  width: 100%;
  padding: 10px 0 0 4px;
  border: none;
  outline: none;
  font-size: 1.125rem;
}

.m-textfield-input__div {
   display: block;
   position: relative;
   color: ##fff;
   background-color: rgba(0, 0, 0, 0);
   height: 100%;
   width: 100%;
   border: none;
   outline: none;
   transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.m-input__line {
   position: absolute;
   bottom: 12px;
   width: 100%;
   border-bottom: 2px solid black;
}
.m-input__msg-err {
   position: absolute;
   bottom: -12px;
   left: 4px;
   color: #f44336;
}
