.menu-more__item {
  line-height: 2.2;
  color: black;
  font-size: 1rem;
  font-weight: bold;
  padding-left: 16px;
  padding-right: 16px;
  border-left: 4px solid transparent;
  outline: none;
  user-select: none;
  cursor: pointer; }

.menu-more__item:focus {
  background-color: rgba(0, 0, 0, 0.15); }

.menu-more__item:hover {
  border-left: 4px solid #1b75bb; }
