.focusable:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.gap-right::before {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 38px;
  height: 100%;
  background: inherit;
}

.select-none {
  -webkit-user-select: none;
  user-select: none;
}

.box-shadow-5 {
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 5px;
  box-shadow: var(--sh-c, rgba(0, 0, 0, 0.2)) 0 0 0 5px;
}