.focusable:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.gap-right::before {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 38px;
  height: 100%;
  background: inherit;
}

.select-none {
  -webkit-user-select: none;
  user-select: none;
}
