
[data-pos]::after {
  content: attr(aria-label);
  position: absolute;
  top: 110%;
  z-index: 20;
  color: #f0fff0;
  background: rgba(16, 16, 16, 0.95);
  border-radius: 2px;
  pointer-events: none;
  white-space: nowrap;
  text-indent: 0;
  text-shadow: none;
  font-family: Roboto, Arial, Lato, sans-serif; 
  font-weight: normal;
  font-size: 16px;
  padding: 1px 9px 0 9px;
  line-height: 1.8;
  opacity: 0; 
  transition: opacity 0.12s ease-out;
}

[data-pos]:hover::after {
  opacity: 1;
  transition: opacity 0.12s ease-out 0.85s;
}

[data-pos="l"]::after {  
  left: 0;
}

[data-pos="r"]::after {   
  right: 0;
} 

[data-pos="tl"]::after {
  top: 0;
  left: calc(100% + 4px);
}

[data-pos="tr"]::after {
  top: 0;
  right: calc(100% + 4px);
}

[data-pos="btr"]::after {
  top: -4px;
  right: calc(100% + 6px);
}

[data-pos="cl"]::after {
  top: 38px;
  right: -12px;
  font-size: 12px;
  transform: rotate(-90deg);
}
[data-pos="cr"]::after {
  top: -38px;
  right: -12px;
  font-size: 12px;
  transform: rotate(-90deg);
}

[data-pos="gh"]::after {
  top: 87%;
  left: 0;
}