@import 'base/values';
@import 'base/themeSuffix';
@import 'base/palette';

@mixin row__topic($suffix, $bg-color-row-odd) {
  .row__topic {
    &#{$suffix} {
      line-height: 2;
      color: black;
      font-size: 16px;
      font-weight: bold;
      padding-top: 1px;
      padding-bottom: 1px;
      padding-left: 16px;
      border-bottom: 1px solid transparent;
      cursor: pointer;
    }
    &#{$suffix}:hover {
      border-bottom: 1px solid $cBorderHover;
    }
    &#{$suffix}:focus {
      border-bottom: 1px solid $cBorderHover;
    }
  }
}

@include row__topic($thGreySuffix, $bgcRowGrey)
