@import 'base/values';
@import 'base/themeSuffix';
@import 'base/palette';

@mixin row__topic($suffix, $bg-color-row-odd) {
  .row__topic {
    &#{$suffix} {
      line-height: 2;
      color: black;
      font-size: 1rem;
      font-weight: bold;
      padding-top: 2px;
      padding-left: 16px;
      border-left: 4px solid transparent;
      cursor: pointer;
    }
    &#{$suffix}:focus {
      background-color: $bgItemFocus;
    }
    &#{$suffix}:hover {
      border-left: 4px solid $cBorderHover;
    }
  }
}

@include row__topic($thGreySuffix, $bgcRowGrey)
