@import 'base/themeSuffix';
                                                                                            
@mixin m-select($suffix, $color, $bgc-hover) {
  .m-select__item {
    &#{$suffix} {
      color: $color;
      line-height: 2;
      padding-left: 16px;
    }
    &#{$suffix}:hover,
    &#{$suffix}:focus {
      background-color: $bgc-hover;
    }
  }
}

@include m-select($thGreySuffix, var(--msi-c, white), var(--msi-fh, rgba(48, 48, 48, 0.4)));
