@import 'base/themeSuffix';
@import 'base/palette';

@mixin with-scroll($suffix, $bg-color-track-piece) {
  .with-scroll {
    &#{$suffix}::-webkit-scrollbar-track-piece {
      width: 2px;
      background-color: $bg-color-track-piece;
    }
  }
}

@include with-scroll($thGreySuffix, $bgcTrackPieceGrey)
@include with-scroll($thWhiteSuffix, $bgcTrackPieceWhite)
@include with-scroll($thSandSuffix, $bgcTrackPieceSand)
