.bt-more {  
  width: 1.9rem;
  height: 1.9rem;
  padding-top: 0.2rem;
  border-radius: 50%;
}
.bt-more:hover,
.bt-more:focus {
  background: var(--bt-h, rgba(255, 255, 255, 0.1));  
}

.arrow-down {
  display: inline-block;
  position: relative;
  top: 3px;
  height: 0;
  width: 0;
  margin-left: 6px;
  border-width: 5px;
  border-style : solid;
  /* clean-css ignore:start */
  border-top-color: inherit;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  /* clean-css ignore:end */
}

.bt-circle {
  display: inline-block;
  color: #80c040;
  width: 1.6rem;
  height: 1.6rem;
  padding-top: 2px;
  border-radius: 50%;
  border: 2px solid #80c040;
  background-color: transparent;
  transition: background-color 200ms ease-out;
}

.bt-circle:hover,
.bt-circle:focus {
  background-color: rgba(0, 0, 0, 0.3);
}

.bt-resize {
  display: inline-block;
  width: 1.6rem;
  height: 1.6rem;
  padding: 2px;
  border-radius: 50%;
  border: 2px solid var(--h-c, #a9a9a9);
  stroke: var(--h-c, #a9a9a9);  
}
.bt-resize:focus,
.bt-resize:hover {
  border: 2px solid #a487d4;
  stroke: #a487d4;
}

[data-loader='circle-failed']{
  width: 2.5em;
  height: 2.5em;
  border: 3px solid #a487d4;
  border-top-color: transparent;
  border-radius: 100%;
}

.link {
  color: #009ae5;
  font-weight: bold;
  margin-left: 6px;
  padding-bottom: 2px;
  border-bottom: 1px solid;
  text-decoration: none;
  white-space: nowrap;
}
.link:hover,
.link:focus {
  border-bottom-width: 3px;
}

.chb {
  stroke: #4d4d4d;
  stroke: var(--bg-c, #4d4d4d);

  display: inline-block;
  width: var(--chb-size);
  height: var(--chb-size);
  padding: 1px;
  border-radius: 2px;
  border: 2px solid transparent;
}
.chb:focus {
  outline: 0;
  border: 2px solid #fdb316;
}

@import 'bt-raised-mixin';
@import 'bt-flat-mixin';
